# Gradle
.gradle/
build/

# Local configuration
local.properties

# IDE
.idea/
*.iml

# Kotlin
.kotlin/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# Signing
*.jks
*.keystore

# OS
.DS_Store
